@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1a1a;
}

.featured-bg-image {
  background-image: url("/src/assets/homeFeatured.png");
  /* make the min height the background size */
  min-height: 70vh;
  background-size: cover;
  background-position: center;
}
