@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1a1a;
}

.featured-bg-image {
  background-image: url("/src/assets/homeFeatured.png");
  /* make the min height the background size */
  min-height: 70vh;
  background-size: cover;
  background-position: center;
}

body {
  background-image: url("/background.png");
  background-repeat: repeat; /* Ensures the background image repeats */
  background-size: 700px 700px; /* Makes the background image smaller, adjust these values as needed */
  animation: moveBackground 80s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500px 500px; /* Adjust these values to control the speed and direction of the movement */
  }
  100% {
    background-position: 0 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF3D00; /* Bright orange */
  border-radius: 10px;
  border: 2px solid #2D2D2D; /* Dark background color to give a small padding */
}

::-webkit-scrollbar-track {
  background: #2D2D2D; /* Dark background color */
}

article h2.wp-block-heading {
  color: white;
  font-size: 1.5rem;
}

article p {
  color: rgb(194, 194, 194);
}

article p.text-lg strong {
  color: #f0f0f0;
}

article li {
  color: #f0f0f0;
}

article li strong {
  color: #FF3D00;
}


